.idea/
.project
detector-consumer/target/*
detector-provider/target/*
hmi-consumer/target/*
lidar-common/target/*
lidargen-provider/target/*

detector-consumer/.idea/*
detector-provider/.idea/*
hmi-consumer/.idea/*
lidar-common/.idea/*
lidargen-provider/.idea/*

client-common/client-common.iml
detector-consumer/detector-consumer.iml
detector-provider/detector-provider.iml
hmi-consumer/him-consumer.iml
lidar-common/lidar-common.iml
lidargen-provider/lidargen-provider.iml
